* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.searchbar {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.searchbar__nav {
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-top: 0px;
}

.searchbar__prompt {
    text-align: center;
    padding: 10px;
}

hr {
    margin-top: 10px;
}

.results {
    background-color: aliceblue;
    
}

.results__grid {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 170px;
    padding: 10px;      
}

.results__grid__card {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 170px;
}

@media screen and (max-width: 400px) {
    .results__grid {
        display: grid;
        grid-template-columns: 20% 20% 20%;
        padding: 10px;      
    }
  }